.register {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    border: solid white 2px;
    border-radius: 10px;
    padding: 1rem;
    max-width: 34dvw;
    width: fit-content;
    gap: 0.1rem;
    margin-top: calc(30dvh);
}

input {
    border-radius: 5px;
    text-align: center;
}