.ask {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    border: white solid 1px;
    padding: 1rem;
    border-radius: 10px;

}

textarea {
    height: 10rem;
}

.title {
    padding: 0.5rem;
    font-size: large;
}