.searchDiv {
    border: solid white 2px;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
}

.searchDiv input {
    width: 100%;
}

.info-container {
    position: relative;
    display: inline-block;
}

.info-container .info-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 150%;
    /* Position above the I */
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.info-container .info-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.info-container:hover .info-text {
    visibility: visible;
    opacity: 1;
}

.info-icon {
    font-size: 2rem;
    cursor: pointer;
    color: #007bff;
}